.DS_Store
.env
.env.local
docker-compose.override.yml
node_modules/
.nuxt/
.output/
dist/
coverage/
*.log
**/.build/
*.xcuserstate
xcuserdata/
DerivedData/
apps/ios/Signing/*.mobileprovision
apps/ios/**/Package.resolved
apps/ios/apollo-ios-cli
apps/ios/Packages/DahditGraphQL/apollo-ios-cli
